<?php

namespace ###NAMESPACE###;

/**
 * This is the model class for table "{{%###TABLE_NAME###}}".
 *
###PHP_DOCS_PROPERTY###
 */
 
class ###CLASS_NAME### extends ###PARENT_NAME###
{

    /**
     * @inherited
     *
     */
    public $attributes =
	[
###CLASS_FIELDS###
	];
	
	/**
     * @inherited
     *
     */
	public $attributeLabels =
	[
###FIELDS_LABELS###
	];
}

