.breadcrumbs {
	padding: 5px 15px;
	background-color: #6babff;
	border-radius: 0px 0px 10px 10px;
}

.breadcrumbs  a {
	color: #fefefe;
	text-decoration: underline;
}

.breadcrumbs > .active {
    color: #111;
}

.full-w-box {
	overflow:hidden;
}