body, p {
	margin:0;
	padding:0;
	font-family: Helvetica;
}

body {
	background: #fff;
}

#page {
    min-width: 1130px;
}

#sidebar {
	height: 100%;
	background: #222d32;
	float: left;
	position: fixed;
	width: 18%;
	min-width: 203px;
}

#wrapper {
	float: right;
	width: 82%;
	padding-bottom:25px;
}

#wrapper-title {
  overflow: hidden;
}

#breadcrumbs {
	width: 100%;
	margin-bottom: 15px;
	float: left;
	padding: 5px 0px 3px 40px;
	background: #222d32;
}
#breadcrumbs ul {
  padding: 0;
  margin: 0;
}
#breadcrumbs li {
	display: inline;
	font-size: 14px;
	color: #fff;
}

#breadcrumbs li :after{
	padding-left: 5px;
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #8fbeff;;
	font-size: 9px;
	padding-right: 1em;
	position: relative;
	top: -1px;
	left: 4px;
}
#breadcrumbs a {
	color: #8fbeff;;
	text-decoration: none;
	font-weight: 700;
	font-family: Verdana;
}

#breadcrumbs .login-box  a{
	color:white;
}

#breadcrumbs .logout-box  a{
	color:white;
}

#breadcrumbs .logout-box span {
	color:white;
}

#content {
    padding-right: 132px;
}

#content-title {
  margin-left: 40px;
  font-size: 23px;
  width: 80%;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
#reminder {
  width: 12%;
  height: 69px;
  float: right;
}

#filters {
    background: rgb(249,249,249);
    margin: 15px 20px 15px 20px;
    padding: 20px;
}

#filters-header {
    overflow: hidden;
}

#filters-title {
    font-size: 19px;
    float: left;
    width: 80%;
}

#filters-title-img {
    float: right;
	background: #fff;
	width: 21px;
	height: 20px;
	border-radius: 13px;
	border: 0;
	box-shadow: 0px 1px 2px 0px #aaa;
	margin-right: 4px;
	text-align: center;
	padding: 2px 2px 0 0;
	font-size: 14px;
	font-weight: 700;
	color: #36a8ab;
	cursor:pointer;
}

#filters-title-img  p {
    transform: rotate(0deg);
	transition: transform 0.5s;
}

#filters-body {
    overflow: hidden;
	height:1px;
    margin-top: 10px;
	transition: height 0.5s;
}

.filters-field {
    float: left;
    margin-right: 20px;
}

.filters-field p {
    font-size: 11px;
    padding: 0px 0 5px 5px;
}

.filters-field  input{
    width: 185px;
    height: 35px;
    border-radius: 15px;
    border: 0;
    box-shadow: inset 0px 1px 0px 0px #c3c3c3;
	padding-left: 15px;
	color: #777;
}


.btn-standart {
	height: 36px;
	border: 0;
	border-radius: 20px;
	color: #fff;
	padding: 0 15px 0 15px;
	font-weight: 700;
	font-size: 14px;
	cursor:pointer;
}

.btn-gray {
	background: #aaa;
}

.btn-aqva {
	background: rgb(54, 168,171);
}

#filters-clear {
    margin-top: 20px;
    float: right;
}

#tools {
    margin: 15px 20px 15px 20px;
    padding: 0 20px 0 20px;
    overflow: hidden;
}

.tools-element {
    float: left;
    margin-right: 20px;
}

.tools-line {
	float: right;
	border-right: 1px solid #aaa;
	padding-right: 20px;
	height: 25px;
	margin-top: 5px;
}

.t-e-last {
	float:right;
}

.t-e-last select {
    width: 200px;
    height: 35px;
    border: 0;
    box-shadow: inset 0px 1px 0px 0px #c3c3c3;
}

#data {
    margin: 15px 20px 15px 20px;
    overflow: hidden;
}

#data table {
	background: rgb(224,224,224);
	border-radius: 10px 10px 0 0px;
	color: #777;
	font-weight: 500;
	font-size: 13px;
	width: 100%;
	text-align: left;
}

#data table th {
	font-weight: 500;
	padding: 15px;
	padding-left: 15px;
}

#data table tbody {
	background: #fff;
}

#data table td {
    padding: 10px;
    border: 0;
    padding-left: 15px;
}

#data table .control-td {
    font-size: 20px;
    width: 40px;
    padding-right: 0;
    cursor: pointer;
}

#footer {
	overflow: hidden;
	height: 45px;
	background: #222d32;
	width: 82%;
	float: right;
	padding-top: 13px;
	position: fixed;
	top: 615px;
	left: 243px;
}

#footer p {
    margin: 0 auto;
    width: 50%;
    color: #aac8ce;
    font-size: 10pt;
}

.footer-link {
	color: #69a7ff;
	font-weight: 700;
}